<div class="container">
    <form class="ui-g-12">
        <div class="ui-g-12 ui-inputgroup form-group">
            <input class="input-tontine" type="text" pInputText placeholder="Tên phường">
        </div>
        <div class="ui-g-12 ui-inputgroup form-group">
            <p-calendar class="input-tontine" placeholder="Ngày họp" [inputStyle]="{'width': '100%'}"></p-calendar>
        </div>
        <div class="ui-g-12 ui-inputgroup form-group">
            <input class="input-tontine" type="number" pInputText placeholder="Tiền phường">
        </div>
        <div class="ui-g-6">
            <button class="input-tontine" pButton type="button" label="Lưu"></button>
        </div>
        <div class="ui-g-6">
            <button class="input-tontine" pButton type="button" label="Thoát"></button>
        </div>
    </form>
</div>